@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+MX:wght@100..400&display=swap");

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}
/* Shared style */

.display-flex {
  display: flex;
}

.common-title {
  font-size: 3rem;
  font-weight: 900;
  color: white;
}

.text-light-gray {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.875rem;
}

.brand-title {
  font-style: italic;
  font-size: 2.25rem;
  font-weight: 800;
  color: rgb(230, 83, 60);
}

.primary-btn {
  background-color: rgb(230, 83, 60);
  border: none;
  border-radius: 42px;
  font-size: 1.125rem;
  color: rgb(255, 255, 255);
  font-weight: 600;
  padding: 16px 40px 16px 40px;
  text-align: center;
}

/* Header style */

.header {
  background-color: #222222;
}

/* Navbar design */

.navbar {
  justify-content: space-between;
  align-items: center;
  padding: 4rem 20rem;
}
.navbar li {
  list-style: none;
}

.navbar ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 10px 16px;
}

.navbar .nav-items {
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 39px;
  padding: 10px 0;
}

.nav-items .active a {
  background-color: rgb(230, 83, 60);
  border-radius: 16px;
  font-weight: 600;
}

.nav-item {
  margin-right: 2rem;
}

/* Banner */

.banner {
  justify-content: space-between;
  align-items: center;
  margin: 0 320px;
}
.banner-info {
  max-width: 520px;
}
.banner-title {
  color: rgb(255, 255, 255);
  font-size: 4.875rem;
  font-weight: 900;
}

.banner-title .highlight-shape {
  font-family: "Playwrite MX", cursive;
  font-weight: 400;
  font-style: italic;
}
.banner-description {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  margin: 28px auto;
}

#download-btn {
  background-color: transparent;
  border: 1px solid rgb(255, 255, 255);
  margin-left: 14px;
}
#joinnow-btn2 {
  display: none;
}

.banner-img img {
  width: 100%;
  position: relative;
}

/* STAT BUTTONS */

.video-tutorials {
  background-color: rgba(48, 48, 48, 0.54);
  padding: 12px 18px;
  align-items: center;
  border: none;
  border-radius: 8px;
  max-width: 206px;
  backdrop-filter: blur(20px);
  position: absolute;
  top: 600px;
  right: 585px;
}
.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(230, 83, 60);
}

.info {
  padding-left: 12px;
  text-align: left;
}

.video-tutorials .number {
  font-size: 1.5rem;
  font-weight: 900;
  color: white;
}

.video-tutorials .type {
  margin-top: 5px;
  font-size: 1rem;
  color: rgba(239, 237, 232, 0.65);
}

.workout-video {
  padding: 12px 18px;
  max-width: 193px;
  border: none;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.1);
  text-align: left;
  position: absolute;
  top: 300px;
  right: 280px;
}

.workout-video .number {
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
  font-weight: 900;
}

.workout-video .type {
  color: rgba(255, 255, 255, 0.65);
  font-size: 0.82rem;
}

/* Change your habit */

.main {
  background-color: black;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-top: 100px;
}
.habit-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.habit-text {
  text-align: center;
  max-width: 750px;
}

.habit-title {
  font-size: 3rem;
  font-weight: 900;
  color: white;
}

.habit-description {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.875rem;
  margin-top: 16px;
}

.habit-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  margin-top: 60px;
}

.round-img {
  height: 180px;
  width: 180px;
  border-radius: 50%;
}

.habit-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 240px;
  text-align: center;
}

.habit-card-title {
  color: rgb(239, 237, 232);
  font-size: 1.125rem;
  font-weight: 600;
  margin-top: 30px;
}

.habit-card-description {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.875rem;
  margin-top: 8px;
}

/* Run an Extra section */

.run-container {
  max-width: 1060px;
  border-radius: 18px;
  background: rgb(34, 34, 34);
  justify-content: space-around;
  gap: 160px;
  margin-top: 100px;
}

.run-text {
  flex-direction: column;
  max-width: 443px;
  padding: 32px;
  gap: 16px;
}

.running-man-img {
  max-width: 366px;
  width: 100%;
  height: auto;
  border-radius: 18px;
  padding: 32px;
}

.running-join-btn {
  margin-top: 50px;
}

/* BMI SECTION */
.bmi-info{
  margin-top: 64px;
  text-align: left;
  margin-left: 300px;
}

.bmi-description{
  margin-top: 14px;
  /* width: 577px; */
}
.bmi-card {
  color: white;
  background-color: rgb(34, 34, 34);
  margin-top: 80px;
  justify-content: center;
  align-items: center;
  padding: 48px;
  margin: 50px auto ;
}

.bmi-chart {
  text-align: center;
}

.bmi-chart-title {
  font-size: 1.75rem;
  font-weight: 900;
  color: rgb(255, 255, 255);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 50px;
}
th,
td {
  border: 1px solid #444;
  padding: 15px 20px;
  text-align: left;
}

th {
  font-size: 1rem;
  font-weight: 500;
  color: rgb(255, 255, 255);
}

.bmi-form {
  flex-direction: column;
  margin-left: 10rem;
}

.input-box{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 12px;
  margin-top: 32px;
}


input,
select {
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
} 

.input-box input::placeholder, select {
  color: rgba(255, 255, 255, 0.5);
}
.activity-factor{
  grid-column: 1/span 2;
  margin-bottom: 32px;
}

.calculate-btn {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #ff6347;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  width: 224px;
  border-radius: 42px;
  height: 45px;
}

.calculate-btn:hover {
  background: #ff4500;
}

/* Meet Our Team */

.meet-our-team-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 88px;
  margin-bottom: 88px;
}

.meet-our-team {
  max-width: 670px;
}
.mot-des {
  margin-top: 14px;
  margin-bottom: 58px;
}

.trainer-details{
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 18px;
  max-width: 1060px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}
.trainer{

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 326px;
  height: 272px;
  border-radius: 18px;
  position: relative;

}

.trainer-1{
  background-image: url('images/trainer1.png');
}
.trainer-2{
  background-image: url('images/trainer2.png');
}
.trainer-3{
  background-image: url('images/trainer3.png');
}
.trainer-4{
  background-image: url('images/trainer4.png');
}
.trainer-5{
  background-image: url('images/trainer5.png');
}
.trainer-6{
  background-image: url('images/trainer6.png');
}

.trainer-name{
  color: rgb(255, 255, 255);
  font-size: 1.6rem;
  font-weight: 700;
  position: absolute;
  top:200px;
  left: 12px;
  z-index: 1; 
}

.trainer-role{
  font-size: 1.25rem;
  margin-top: 230px;
  margin-right: 230px;
}

/* Footer section */

.footer {
  background-color: rgba(26, 26, 26, 255);
  padding-top: 66px;
}

.footer-information {
  justify-content: space-around;
  gap: 48px;
}

.brand-details {
  max-width: 443px;
}

.brand-title {
  font-size: 4.375rem;
  font-weight: 800;
  color: rgb(230, 83, 60);
}

.getStarted {
  font-size: 2rem;
  font-weight: 700;
  color: rgb(255, 255, 255);
  margin-bottom: 40px;
}

.info-card .item {
  list-style: none;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.44rem;
  margin-bottom: 20px;
}
 .footer-border{
    border-top: 2px solid rgba(255, 255, 255, 0.1);
    width: 80%;
    margin: 79px auto;
  }
.copyright {
  margin-top: 80px;
  text-align: center;
  /* border-top: 2px solid rgba(255, 255, 255, 0.1); */
}
.copyright-text {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.25rem;
  padding-bottom: 36px;
}





/* Bonus Section */


.Our-plans{
  color: rgb(255, 255, 255);
  text-align: center;
}

.our-plans-title{
  margin-top: 80px;
  margin-bottom: 48px;
}

.highlight-plans{
  color: rgb(230, 83, 60);
}

.plan-cards{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  text-align: left;
  gap: 24px;
  
}

.plan-card {
  padding: 24px;
  border: 2px solid rgb(230, 83, 60);
  border-radius: 18px;
  transition: box-shadow 0.3s ease, transform 0.3s ease; 
}

.plan-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2), 
              0 6px 20px rgba(255, 255, 255, 0.19);
}



.plan-name{
  font-size: 1.5rem;
}

.plan-price{
  font-size: 1.8rem;
  color: rgb(230, 83, 60);
  margin-top: 12px;
}
.plan-features{

  margin-top: 16px;
}

.plan-feature-name{
  margin-top: 12px;
  list-style: none;
}

.plan-btn{
  margin-top: 32px;
  border-radius: 8px;
  background-color: #ff6347;
  border: 1px solid rgb(34, 34, 34);
}
.plan-btn:hover{ 
  background-color: #ff4500;
}

.tick-icon{
  width: 18px;
  height: 18px;
}


/* MOBILE DEVICE: */

@media (max-width: 576px) {
  .header {
    /* padding-left: 20px; */
  }
  .navbar .nav-items {
    display: none;
  }
  .navbar {
    padding: 0;
    padding: 52px 20px;
  }

  .banner {
    flex-direction: column;
    margin: 0 auto;
    text-align: left;
    padding-left: 20px;
  }

  .banner-text{
    max-width: 352px;
    text-align: left;
  }
  .banner-title {
    font-size: 2.25rem;
    max-width: 285px;
  }

  #joinnow-btn1 {
    display: none;
  }
  #joinnow-btn2 {
    display: inline;
  }
  .buttons {
    display: flex;
  }
  .video-tutorials {
    position: absolute;
    top: 56.25rem;
    right: 20.25rem;
  }

  .workout-video {
    top: 40rem;
    right: 3rem;
  }
  .banner-img img {
    width: 100%;
  }

  /* Change your habits */

  .habit-description {
    /* padding: 0 16px; */
    margin: 10px auto;
  }
  .habit-list {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 50px;
  }
  .habit-text{
    max-width: 318px;
  }
  .habit-title{
    font-size: 2rem;
  }
  .habit-card {
    margin-top: 70px;
    transform: scale(1.25);
  }

  /* Running an extra mile */

  .run-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .running-join-btn {
    margin-top: 24px;
  }

  .run-text {
    align-items: center;
    justify-content: center;
    max-width: 300px;
  }
  .running-man-img {
    margin-top: -145px;
  }

  .running-join-btn {
    width: 300px;
  }

  /* BMI */

  .bmi-info{
    text-align: left;
    padding: 20px;
    margin: 0;
  }

  .bmi-card{
    flex-direction: column;
    align-items: start;
    width: 79%;
    flex-wrap: wrap;
  }

.bmi-chart{
  text-align: left;
}

  .bmi-form{
    margin: 0px;
  }
  .bmi-chart-title{
    margin-top: 16px;
  }

  /* Meet our team */

  .trainer-details{
    margin-top: 30px;
    grid-template-columns: repeat(1, 1fr);
  }

  /* Footer */


  .footer-information {
    flex-direction: column;
    padding-left: 20px;
  }

  




  /* Bonus Section */

  /* Our plans */

  .plan-cards{
   grid-template-columns: repeat(1,1fr);
  }

  
.plan-name{
  font-size: 1.25rem;
}

.plan-price{
  font-size: 1.5rem;
  color: rgb(230, 83, 60);
  margin-top: 12px;
}

.plan-feature-name{
  font-size: .875rem;
  margin-top: 12px;
  list-style: none;
}


}
